OPENAI_ENDPOINT=https://llm-api.arc.vt.edu/api/v1
OPENAI_APIKEY=sk-xxxxxxxxxxxxxxxxx
OPENAI_MODEL=vt-arc-llm
OPENAI_VISION_MODEL=vt-arc-llm
OPENAI_MAX_INFLIGHT=3   # proxy allows 3 concurrent requests per user per model
